<link rel="stylesheet" type="text/css" href="css/catalog.css" />
<div class="catalog">
        <h1 class="catalog-title">Наш Каталог</h1>
        <div class="catalog-categories">
          <button class="catalog-category-btn active" data-category="all">Все</button>
          <button class="catalog-category-btn" data-category="category1">Компактные powerbank'и</button>
          <button class="catalog-category-btn" data-category="category2">Автомобильные powerbank'и</button>
          <button class="catalog-category-btn" data-category="category3">Аксессуары для powerbank'ов</button>
        </div>
      
        <div class="catalog-items">
          <div class="catalog-item" data-category="all category1">
            <img src="img/catalog/compbank1.png" alt="Compact1" class="catalog-item-image">
            <h3 class="catalog-item-title">PowerBank Ultra Compact</h3>
            <p class="catalog-item-price">1999 ₽</p>
            <button class="catalog-item-button">Купить</button>
          </div>
          <div class="catalog-item" data-category="all category1">
            <img src="img/catalog/compbank2.png" alt="Compact1" class="catalog-item-image">
            <h3 class="catalog-item-title">PowerBank Ilitra Compact</h3>
            <p class="catalog-item-price">1599 ₽</p>
            <button class="catalog-item-button">Купить</button>
          </div>
          <div class="catalog-item" data-category="all category1">
            <img src="img/catalog/compbank3.png" alt="Compact1" class="catalog-item-image">
            <h3 class="catalog-item-title">PowerBank noUltra Compact</h3>
            <p class="catalog-item-price">1099 ₽</p>
            <button class="catalog-item-button">Купить</button>
          </div>
          <div class="catalog-item" data-category="all category2">
            <img src="img/catalog/autobank1.png" alt="Auto1" class="catalog-item-image">
            <h3 class="catalog-item-title">AutoBank3000</h3>
            <p class="catalog-item-price">3000 ₽</p>
            <button class="catalog-item-button">Купить</button>
          </div>
          <div class="catalog-item" data-category="all category2">
            <img src="img/catalog/autobank2.png" alt="Auto2" class="catalog-item-image">
            <h3 class="catalog-item-title">NoAutoBank2000</h3>
            <p class="catalog-item-price">2000 ₽</p>
            <button class="catalog-item-button">Купить</button>
          </div>
          <div class="catalog-item" data-category="all category2">
            <img src="img/catalog/autobank3.png" alt="Auto3" class="catalog-item-image">
            <h3 class="catalog-item-title">Autobank3</h3>
            <p class="catalog-item-price">500 ₽</p>
            <button class="catalog-item-button">Купить</button>
          </div>
          <div class="catalog-item" data-category="all category3">
            <img src="img/catalog/autobank1.png" alt="Assec1" class="catalog-item-image">
            <h3 class="catalog-item-title">buy1</h3>
            <p class="catalog-item-price">0 ₽</p>
            <button class="catalog-item-button">Купить</button>
          </div>
          <div class="catalog-item" data-category="all category3">
            <img src="img/catalog/autobank1.png" alt="Assec2" class="catalog-item-image">
            <h3 class="catalog-item-title">buy2</h3>
            <p class="catalog-item-price">0 ₽</p>
            <button class="catalog-item-button">Купить</button>
          </div>
          <div class="catalog-item" data-category="all category3">
            <img src="img/catalog/autobank1.png" alt="Assec3" class="catalog-item-image">
            <h3 class="catalog-item-title">buy3</h3>
            <p class="catalog-item-price">0 ₽</p>
            <button class="catalog-item-button">Купить</button>
          </div>
        </div>
</div>  
<script src="js/catalog.js"></script>