<link rel="stylesheet" href="node_modules/swiper/swiper-bundle.min.css"/>
<link rel="stylesheet" href="css/index.css">

<div class="href">
    <a href="#soller">Акция</a>
    <a href="#blog">Преимущества</a>
    <a href="#gallery">Фотографии</a>
    <a href="#news">Новости</a>
</div>

<div class="swiper">
  <div class="swiper-wrapper">

    <div class="swiper-slide"><img src="img/swiper.jpg" alt="swiper"></div>
    <div class="swiper-slide"><img src="img/swiper.jpg" alt="swiper"></div>
    <div class="swiper-slide"><img src="img/swiper.jpg" alt="swiper"></div>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<div class="soller" id="soller">
    <h1 style="text-align: center; margin-top: 200px">Акция</h1>
<div class="container">
		<div class="product-card">
			<div class="discount-badge">Скидка</div>
			<img src="img/catalog/autobank1.png" width="50px" height="50px" alt="product1">
			<h3>AutoBank3000</h3>
			<p class="price">
				<span class="original-price">3000 ₽</span>
				<span class="discount-price">2400 ₽</span>
			</p>
			<p class="discount">20%</p>
		</div>
		<div class="product-card">
			<div class="discount-badge">Скидка</div>
			<img src="img/catalog/compbank2.png" alt="product2">
			<h3>PowerBank Ilitra Compact</h3>
			<p class="price">
				<span class="original-price">1599 ₽</span>
				<span class="discount-price">1199 ₽</span>
			</p>
			<p class="discount">25%</p>
		</div>
		<div class="product-card">
			<div class="discount-badge">Скидка</div>
			<img src="img/catalog/compbank3.png" alt="product3">
			<h3>PowerBank noUltra Compact</h3>
			<p class="price">
				<span class="original-price">1099 ₽</span>
				<span class="discount-price">549 ₽</span>
			</p>
			<p class="discount">50%</p>
		</div>
</div>
</div>

<div class="blog" id="blog">
    <h1 style="text-align: center; margin-top: 250px">Основные преимущества Powerbank's</h1>
    <div class="container2">
        <div class="block">
            <h3>Мобильность</h3>
            <p>Вы можете брать power bank с собой куда угодно - в офис, в поездку, на прогулку. Он занимает мало места и легко помещается в сумке или кармане.</p>
        </div>
    
        <div class="block">
            <h3>Дополнительная емкость</h3>
            <p>Большинство power bank имеют достаточную емкость аккумулятора, чтобы полностью зарядить ваш смартфон или планшет несколько раз.</p>
        </div>
    
        <div class="block">
            <h3>Быстрая зарядка</h3>
            <p>Современные power bank поддерживают технологии быстрой зарядки, что позволяет восстановить заряд устройства в кратчайшие сроки.</p>
        </div>
    
        <div class="block">
            <h3>Универсальность</h3>
            <p>Power bank подходит для зарядки самых разных гаджетов - телефонов, планшетов, MP3-плееров, фотоаппаратов и др.</p>
        </div>
    
        <div class="block">
            <h3>Безопасность</h3>
            <p>Качественные power bank оснащены системами защиты от перегрева, перезаряда и короткого замыкания, что делает их использование абсолютно безопасным.</p>
        </div>

        <div class="block">
            <h3>Экономичность</h3>
            <p>Power bank позволяет экономить на использовании розетки и экономии заряда аккумулятора вашего основного устройства. Это особенно актуально, если у вас нет доступа к розетке или вы хотите продлить время работы своего гаджета вдали от источника питания.</p>
        </div>
    </div>
</div>

<div class="gallery" id="gallery">
    <h1 style="text-align: center; margin-top: 250px">Наши фотографии</h1>
    <div class="swiper mySwiper2">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="img/swaper/swaper1.jpg" alt="swiper" width="600px"></div>
        <div class="swiper-slide"><img src="img/swaper/swaper2.jpg" alt="swiper" width="600px"></div>
        <div class="swiper-slide"><img src="img/swaper/swaper3.jpg" alt="swiper" width="600px"></div>
        <div class="swiper-slide"><img src="img/swaper/swaper4.jpg" alt="swiper" width="600px"></div>
        <div class="swiper-slide"><img src="img/swaper/swaper5.jpg" alt="swiper" width="600px"></div>

    </div>
    <div class="swiper-pagination"></div>
    </div>
</div>

<div class="news" id="news">
    <h1 style="text-align: center; margin-top: 250px">Новости</h1>
    <div class="container3">
        <div class="new">
            <h2>Новый портативный аккумулятор PowerBank с быстрой зарядкой</h2>
            <p>Компания PowerBank представила свою новую модель портативного аккумулятора с поддержкой быстрой зарядки. Устройство имеет высокую емкость 20000 мАч и может заряжать несколько гаджетов одновременно. Благодаря технологии быстрой зарядки, аккумулятор можно зарядить до 80% всего за 30 минут. Новинка станет отличным помощником в поездках и на природе, когда нужно быстро подзарядить смартфон, планшет или другие устройства.</p>
            <a href="#" class="btn">Перейти</a>
        </div>

        <div class="new">
            <h2>Обновление линейки PowerBank: больше мощности и емкости</h2>
            <p>Компания PowerBank представила обновленную линейку своих портативных аккумуляторов. Теперь устройства доступны с емкостью до 30000 мАч и повышенной выходной мощностью до 45 Вт. Это позволяет быстро заряжать не только смартфоны и планшеты, но и ноутбуки. Новые модели также поддерживают технологию быстрой зарядки, что значительно сокращает время зарядки гаджетов.Обновленная линейка PowerBank стала еще более универсальной и удобной в использовании.</p>
            <a href="#" class="btn">Перейти</a>
        </div>
        
        <div class="new">
            <h2>Распродажа аксессуаров PowerBank: скидки до 50%</h2>
            <p>Компания PowerBank объявила о старте летней распродажи своих аксессуаров. До конца месяца действуют скидки до 50% на широкий ассортимент портативных аккумуляторов, зарядных устройств, кабелей и других полезных аксессуаров. Это отличная возможность приобрести качественные и надежные устройства для зарядки смартфонов, планшетов и других гаджетов по выгодным ценам. Спешите, количество товаров по акции ограничено!</p>
            <a href="#" class="btn">Перейти</a>
        </div>
    </div>
    <a href="#" class="all-news-btn">Все новости</a>
</div>

</div>
<script src="node_modules/swiper/swiper-bundle.min.js"></script>
<script src="js/swaper.js"></script>