<link rel="stylesheet" type="text/css" href="css/otzivs.css" />
<h1>Наши отзывы</h1>
    <div class="container">
		<div class="review-item">
			<div class="review-image">
				<img src="img/otziv/man.png" alt="man1">
            </div>
			<div class="review-content">
				<h3>Виктор Иванов</h3>
				<p>"Покупал в этом магазине портативный аккумулятор для своего смартфона. Остался очень доволен качеством и скоростью зарядки. Рекомендую!"</p>
			</div>
		</div>
		<div class="review-item">
			<div class="review-image">
				<img src="img/otziv/woman.png" alt="woman1">
            </div>
			<div class="review-content">
				<h3>Анастасия Петрова</h3>
				<p>"Отличный магазин! Быстрая доставка, широкий ассортимент и разумные цены. Обязательно буду заказывать у них снова."</p>
			</div>
		</div>
        <div class="review-item">
			<div class="review-image">
				<img src="img/otziv/man2.png" alt="man2">
            </div>
			<div class="review-content">
				<h3>Александр Сидоров</h3>
				<p>"Замечательный сервис! Консультанты помогли подобрать мне идеальный powerbank для моих нужд. Всем советую этот магазин."</p>
			</div>
		</div>
		<div class="review-item">
			<div class="review-image">
				<img src="img/otziv/wonam2.png" alt="woman2">
            </div>
			<div class="review-content">
				<h3>Ольга Кузнецова</h3>
				<p>"Покупала здесь портативный аккумулятор в подарок. Очень понравился дизайн и функциональность. Получатель подарка был в восторге."</p>
			</div>
		</div>
        <div class="review-item">
			<div class="review-image">
				<img src="img/otziv/man3.png" alt="man3">
            </div>
			<div class="review-content">
				<h3>Максим Смирнов</h3>
				<p>"Доволен своей покупкой на 100%. Powerbank работает отлично, быстро заряжает мой телефон. Рекомендую этот магазин!"  </p>
			</div>
		</div>
		<div class="review-item">
			<div class="review-image">
				<img src="img/otziv/wonan3.png" alt="woman3">
            </div>
			<div class="review-content">
				<h3>Татьяна Волкова</h3>
				<p>"Заказывала здесь сразу два powerbank'а. Очень быстрая доставка, качество на высоте. Магазин заслуживает только положительных отзывов."</p>
			</div>
		</div>
        <div class="review-item">
			<div class="review-image">
				<img src="img/otziv/man4.png" alt="man4">
            </div>
			<div class="review-content">
				<h3>Дмитрий Комаров</h3>
				<p>"Приятно удивлен соотношением цены и качества. Купленный в этом магазине портативный аккумулятор полностью оправдал мои ожидания."</p>
			</div>
		</div>
		<div class="review-item">
			<div class="review-image">
				<img src="img/otziv/woman4.png" alt="woman4">
            </div>
			<div class="review-content">
				<h3>Екатерина Соколова</h3>
				<p>"Отличный выбор powerbank'ов в этом магазине. Я нашла именно то, что мне было нужно. Буду рекомендовать его друзьям."</p>
			</div>
		</div>
        <div class="review-item">
			<div class="review-image">
				<img src="img/otziv/man5.png" alt="man5">
            </div>
			<div class="review-content">
				<h3>Сергей Лебедев</h3>
				<p>"Спасибо магазину за быстрое и качественное обслуживание. Powerbank работает безупречно, очень доволен покупкой."></p>
            </div>
		</div>
		<div class="review-item">
			<div class="review-image">
				<img src="img/otziv/woman5.png" alt="woman5">
            </div>
			<div class="review-content">
				<h3>Мария Васильева</h3>
				<p>"Покупала в этом магазине портативный аккумулятор в подарок. Упаковка была очень аккуратной, а сам продукт - отличного качества."</p>
			</div>
		</div>
        <div class="review-item">
            <div class="review-image">
                <img src="img/otziv/man6.png" alt="man6">
            </div>
            <div class="review-content">
                <h3>Игорь Петров</h3>
                <p>"Я очень доволен покупкой powerbank'а в этом магазине. Он надежный, быстро заряжает мой телефон и удобен в использовании. Рекомендую всем!"</p>
            </div>
        </div>
        <div class="review-item">
            <div class="review-image">
                <img src="img/otziv/woman6.png" alt="woman6">
            </div>
            <div class="review-content">
                <h3>Мария Кузнецова</h3>
                <p>"Покупала здесь портативный аккумулятор в подарок. Очень удобная и быстрая доставка. Аккумулятор выглядит стильно и качественно. Рекомендую этот магазин!"</p>
            </div>
        </div>
	</div>