<section class="menu">      
      <div class="section-center">

        <article class="menu-item">
          <img src="/images/item-1.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Блинчики С Кремом</h4>
              <h4 class="price">599</h4>
            </header>
            <p class="item-text">
              Это классические блинчики с нежным кремом из маскарпоне и сметаны, подаются с горячими фламбированными ягодами!
            </p>
          </div>
        </article>
 
        <article class="menu-item">
          <img src="/images/item-2.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Двойной обед</h4>
              <h4 class="price">1399</h4>
            </header>
            <p class="item-text">
                Обед для тех у кого зверский аппетит
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="/images/item-3.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Милкшейк для Годзиллы</h4>
              <h4 class="price">699</h4>
            </header>
            <p class="item-text">
              Размеры данного коктейля впечатлит даже огромных монстров из кино!
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="/images/item-4.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Сельская жизнь</h4>
              <h4 class="price">299</h4>
            </header>
            <p class="item-text">
              Завтрак для ценителей традиций! Вкусно, как у любимой бабули!
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="/images/item-5.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Бургер от Шефа</h4>
              <h4 class="price">499</h4>
            </header>
            <p class="item-text">
              Наш шеф повар вложил всю душу в рецепт этого бургера
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="/images/item-6.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Печенька мечты</h4>
              <h4 class="price">199</h4>
            </header>
            <p class="item-text">
              Лучший на всем побережье коктейль, со вскусом любимого всеми печенья
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="/images/item-7.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Бекон навсегда</h4>
              <h4 class="price">899</h4>
            </header>
            <p class="item-text">
              Классический английский завтрак, в нашем исполнении, плюс много бекона
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="/images/item-8.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Приморская классика</h4>
              <h4 class="price">1299</h4>
            </header>
            <p class="item-text">
              Классическое блюдо человека живущего у моря!
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="/images/item-9.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Весь карантин вместе</h4>
              <h4 class="price">699</h4>
            </header>
            <p class="item-text">
              Коктейль для тех кто смог пережить карантин и остаться друзьями. Медицинская маска в блюдо не входит!
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="/images/item-10.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Стейк Порт-Рояль</h4>
              <h4 class="price">2299</h4>
            </header>
            <p class="item-text">
              Для истенных каперов и свободных джентельменов удачи! Но стоит столько, что лучше Вам быть капитаном!
            </p>
          </div>
        </article>
    </div>
</section>