<section class="menu"> 
    <div class="section-center">

        <article class="menu-item">
          <img src="/images/item-1.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Блинчики С Кремом</h4>
              <h4 class="price">599</h4>
            </header>
            <p class="item-text">
              Это классические блинчики с нежным кремом из маскарпоне и сметаны, подаются с горячими фламбированными ягодами!
            </p>
          </div>
        </article>

      <article class="menu-item">
          <img src="/images/item-4.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Сельская жизнь</h4>
              <h4 class="price">299</h4>
            </header>
            <p class="item-text">
              Завтрак для ценителей традиций! Вкусно, как у любимой бабули!
            </p>
          </div>
      </article>
      <article class="menu-item">
          <img src="/images/item-7.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Бекон навсегда</h4>
              <h4 class="price">899</h4>
            </header>
            <p class="item-text">
              Классический английский завтрак, в нашем исполнении, плюс много бекона
            </p>
          </div>
        </article>

    </div>
    
</section>

