<section class="menu"> 

    <div class="section-center">

        <article class="menu-item">
                <img src="/images/item-3.jpeg" alt="menu item" class="photo" />
                <div class="item-info">
                    <header>
                    <h4>Милкшейк для Годзиллы</h4>
                    <h4 class="price">699</h4>
                    </header>
                    <p class="item-text">
                    Размеры данного коктейля впечатлит даже огромных монстров из кино!
                    </p>
                </div>
        </article>
        <article class="menu-item">
          <img src="/images/item-6.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Печенька мечты</h4>
              <h4 class="price">199</h4>
            </header>
            <p class="item-text">
              Лучший на всем побережье коктейль, со вскусом любимого всеми печенья
            </p>
          </div>
        </article>
        <article class="menu-item">
          <img src="/images/item-9.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Весь карантин вместе</h4>
              <h4 class="price">699</h4>
            </header>
            <p class="item-text">
              Коктейль для тех кто смог пережить карантин и остаться друзьями. Медицинская маска в блюдо не входит!
            </p>
          </div>
        </article>
    </div>
</section>