<section class="menu"> 

    <div class="section-center">
        <article class="menu-item">
                <img src="/images/item-10.jpeg" alt="menu item" class="photo" />
                <div class="item-info">
                    <header>
                    <h4>Стейк Порт-Рояль</h4>
                    <h4 class="price">2299</h4>
                    </header>
                    <p class="item-text">
                    Для истенных каперов и свободных джентельменов удачи! Но стоит столько, что лучше Вам быть капитаном!
                    </p>
                </div>
        </article>
    </div>
</section>