<section class="menu"> 

      <div class="section-center">
 
        <article class="menu-item">
          <img src="/images/item-2.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Двойной обед</h4>
              <h4 class="price">1399</h4>
            </header>
            <p class="item-text">
                Обед для тех у кого зверский аппетит
            </p>
          </div>
        </article>
        <article class="menu-item">
          <img src="/images/item-5.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Бургер от Шефа</h4>
              <h4 class="price">499</h4>
            </header>
            <p class="item-text">
              Наш шеф повар вложил всю душу в рецепт этого бургера
            </p>
          </div>
        </article>
        <article class="menu-item">
          <img src="/images/item-8.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Приморская классика</h4>
              <h4 class="price">1299</h4>
            </header>
            <p class="item-text">
              Классическое блюдо человека живущего у моря!
            </p>
          </div>
        </article>
    </div>
</section>