*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  min-height: 100vh;
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612212108_68-p-fioletovii-fon-dlya-rabochego-stola-97.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
